<% @user = User.where(id: @spit.user_id).first %>
<p><a href="/users/<%= @user.id %>"><%= @user.username %></a></p>
<p><%= @spit.created_at %></p>
<p><%= @spit.content %></p>
<form action='/spits/<%= @spit.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type="submit" value="Delete!">
</form>
