<h1><%= @user.username %></h1>
<button><a href="/users/<%= @user.id %>/tweets/new">Add Tweet</a></button>
<div>
<img src="<%= @user.photo_url %>"/>
</div>
<div><%= @user.bio %></div>
<div>
<a href="www.path.com">Fans: <%= @user.i_am_a_hero_relationships.count %></a>
<a href="www.path.com">Heroes: <%= @user.i_am_a_fan_relationships.count %></a>
</div>
<div>
<% @user.tweets.each do |tweet| %>
  <p><%= tweet.bat_signal %></p>
  <% end %>
</div>