<h1>Returning spits containing hashtag $<%= params[:hashtag_input] %></h1>

<% @hashtag_spits.each do |spit| %>
  <% @user = User.where(id: spit.user_id).first %>
  <p><a href="/users/<%= @user.id %>"><%= @user.username %></a></p>

  <p><%= spit.created_at %></p>

  <p><a href="/spits/<%= spit.id %>"><%= spit.content %></a></p>

<% end %>
